<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638444754160-ghjhbliegvgecs066e2or5o1vck4i9g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638444754160-ghjhbliegvgecs066e2or5o1vck4i9g4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>638444754160-ojsf99lvufs147clid6chkg0n4ubptit.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5PMu0zJ0hvx1ulfdj60lK4Ly55Urt-Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>638444754160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.dietup.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>dietapp-prod-9424d</string>
	<key>STORAGE_BUCKET</key>
	<string>dietapp-prod-9424d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638444754160:ios:b8a3bce788bf6537295e35</string>
	<key>DATABASE_URL</key>
	<string>https://dietapp-prod-9424d.firebaseio.com</string>
</dict>
</plist>