<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031145394228-991cvl9hpmegigjbp0mv5oouqu5ied25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031145394228-991cvl9hpmegigjbp0mv5oouqu5ied25</string>
	<key>API_KEY</key>
	<string>AIzaSyDZJmfeqgWsb17X5jy-sgl681cGtMDV_8k</string>
	<key>GCM_SENDER_ID</key>
	<string>1031145394228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.dietup.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>dietup--dev</string>
	<key>STORAGE_BUCKET</key>
	<string>dietup--dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031145394228:ios:f993773ba4f94cab60fa61</string>
</dict>
</plist>